{% extends 'entidades/index.html' %}

{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Clientes</h1>
<p class="lead text-white-50 mb-4">IES busca satisfacer los requerimientos del cliente mediante un trato personalizado, con el objetivo de brindarle un servicio acorde a sus necesidades, a través del conocimiento de la problemática particular de cada sector o empresa.</p>
{% endblock titulo %}

{% block contenido %}
<h2>Nuestros clientes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Empresa</th>
        </tr>
    </thead>
    <tbody>
    {% for c in Cliente  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.empresa }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}