{% extends 'entidades/index.html' %}

{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Informes Sectoriales</h1>
<p class="lead text-white-50 mb-4">En IES Consultores analizamos el desempeño de una amplia variedad de sectores que componen la economía real argentina. Realizamos un seguimiento de su actualidad a través de los principales indicadores económicos y establecemos perspectivas sobre su evolución futura.</p>
{% endblock titulo %}

{% block contenido %}
<h2>Nuestros Informes Sectoriales</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sector</th>
            <th>¿Hay informes disponibles en 2024?</th>
            <th>Última publicación</th>
        </tr>
    </thead>
    <tbody>
    {% for i in informesSectoriales  %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.sector }}</td>
            <td>{{ i.informesDisponibles }}</td>
            <td>{{ i.UltimaPublicacion }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}