{% extends 'entidades/index.html' %}

{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Quiénes Somos</h1>
<p class="lead text-white-50 mb-4">El equipo de economistas y profesionales de IES cuenta con el aval y la experiencia de más de 20 años en la prestación de servicios a empresas y entidades financieras de primer nivel, en el mercado local e internacional. </p>
{% endblock titulo %}

{% block contenido %}
<h2>¿Qué hacemos?</h2>
<br>
<h4>En IES Consultores se analiza la situación de más 69 sectores de la actividad económica argentina.</h4>
<br>    
<p>Adicionalmente a ello, en IES contamos con una red de contactos profesionales en el país, tanto en el sector privado como público, que nos permite contar con información relevante de primera mano.</p>
{% endblock contenido %}